@model _5thSemesterProject.Models.HomepageViewModel

@{
	ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
<link rel="stylesheet" href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/css/column.css">
<link rel="stylesheet" href="~/Content/css/buttonCss.css">
<link rel="stylesheet" href="~/Content/Features-Boxed.css">
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">

<script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                title: {
                    text: "Arbejdstimer denne måned"
				},

				data: [{
					type: "pie",
					indexLabel: "{y}",
					indexLabelPlacement: "outside",
					indexLabelOrientation: "horizontal",
					indexLabelFontSize: 25,
                    indexLabelFontWeight: "bold",
                    showInLegend: "true",
                    legendText: "{label}",

                    dataPoints: [
                        { y: @ViewBag.countNight, label: "Aftentimer" },
                        { y: @ViewBag.countDay, label: "Dagstimer" },                       
                    ]
                }]
            });
            chart.render();

        };
</script>


<div class="features-boxed">
	<div class="container">
		<div class="row justify-content-center features">

			<div class="col-sm-6 col-md-6 col-lg-6 item">
				<div class="box" style="height:335px; ">
					<div id="chartContainer" style="height: 300px; width: 100%;"></div>
					<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

				</div>

			</div>

			<div class="col-sm-6 col-md-6 col-lg-6 item">
				<div class="box" style="height:335px; ">
					<dl class="dl-horizontal">

						<dt>
							@Html.DisplayName("Navn")
						</dt>
						<dd>
							@Html.DisplayFor(model => model.employee.firstname)
							@Html.DisplayFor(model => model.employee.lastname)
						</dd>

						<dt>
							@Html.DisplayName("Initialer")
						</dt>

						<dd>
							@Html.DisplayFor(model => model.employee.initials)
						</dd>

						<dt>
							@Html.DisplayName("Stilling")
						</dt>

						<dd>
							@Html.DisplayFor(model => model.employee.Position.name)
						</dd>

                        <dd>
                            @Html.ActionLink("Ændre Kodeord", "Edit", "ChangePassword", null, new { @class = "nav-link" })
                            
                        </dd>
                    </dl>

						</dd>
					</dl>

				</div>

			</div>

			<div class="col-sm-6 col-md-6 col-lg-6 item">
				<div class="box" style="height:335px; ">


				</div>

			</div>


			<div class="col-sm-6 col-md-6 col-lg-6 item">
				<div class="box" style="height:335px; ">
					<table class="table" id="dayTable">
						<thead>
							<tr>
								<th>Beskeder fra Administrator</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.adminmessageList)
							{
								<tr id="dateCell">
									<td>
										@Html.DisplayFor(modelItem => item.content) 
									</td>
								</tr>
							}
						</tbody>
					</table>

				</div>

			</div>

		</div>

	</div>

</div>

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>