@model IEnumerable<_5thSemesterProject.Models.Schedule>
<!DOCTYPE html>
<html>

<head>
    @{
        ViewBag.Title = "Kalender Uge";
        ViewBag.Week = 0;
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kalender</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/CSS/Calendar.css">
</head>

<body>
    <div class="card" style="background-color: #ffffff;">
        <div class="card-header text-center" style="background-color: #ffffff;">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a class="nav-link active" id="month" style="color: rgb(255,255,255);background-color: rgb(5,158,232);">@Html.ActionLink("Måned", "CalendarMonth")</a></li>
                <li class="nav-item"><a class="nav-link active" style="color: #059ee8;background-color: #ffffff;">@Html.ActionLink("Uge", "CalendarWeek")</a></li>
                <li class="nav-item"><a class="nav-link active" id="day" style="color: rgb(255,255,255);background-color: #059ee8;">@Html.ActionLink("Dag", "CalendarDay")</a></li>
            </ul>
        </div>
    </div>
    <div class="card" style="background-color: #ffffff;">
        <div class="card-header text-center" style="background-color: #ffffff;">
            <div class="btn-toolbar" style="padding: 0;margin: 0;">
                <div class="btn-group btn-group-sm" role="group" style="padding: 0;margin: 0;height: 36px;font-size: 12px;">
                    @using (Html.BeginForm("CalendarWeek", "Schedules", new { weekId = ViewBag.weekId - 1, diff = ViewBag.diff - 1 }))
                    {
                        <button class="btn btn-primary border rounded" type="submit" id="prevWeek">Forrige uge</button>
                    }
                    @using (Html.BeginForm("CalendarWeek", "Schedules", new { weekId = ViewBag.weekId, diff = ViewBag.diff - ViewBag.diff }))
                    {
                        <button class="btn btn-primary border rounded" type="submit" id="currentWeek" style="margin: 0px 10px 0px 10px;">Denne uge</button>
                    }
                    @using (Html.BeginForm("CalendarWeek", "Schedules", new { weekId = ViewBag.weekId + 1, diff = ViewBag.diff + 1 }))
                    {
                        <button class="btn btn-primary border rounded" type="submit" id="nextWeek">Næste uge</button>
                        <button class="btn btn-secondary border rounded" type="button" disabled="disabled" style="margin: 0px 0px 0px 10px;">@TempData["showingWeek"]</button>
                    }
                </div>
            </div>
        </div>
        <div class="card-body" style="background-color: #ffffff;padding: 20px;">


            <div class="row weekdays" id="section1">
                <div class="column" id="monday">
                    <div class="table-responsive">
                        <table class="table" id="dayTable">
                            <thead>
                                <tr>
                                    <th>Mandag <br />@ViewBag.monday</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.date.Equals(ViewBag.monday))
                                    {
                                        <tr id="dateCell">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee.firstname) @Html.DisplayFor(modelItem => item.Employee.firstname)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.initials)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.Position.name)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.start_time)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.end_time)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column" id="tuesday">
                    <div class="table-responsive">
                        <table class="table" id="dayTable">
                            <thead>
                                <tr>
                                    <th>Tirsdag <br />@ViewBag.tuesday</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.date.Equals(ViewBag.tuesday))
                                    {
                                        <tr id="dateCell">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee.firstname) @Html.DisplayFor(modelItem => item.Employee.firstname)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.initials)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.Position.name)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.start_time)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.end_time)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column" id="wednessday">
                    <div class="table-responsive">
                        <table class="table" id="dayTable">
                            <thead>
                                <tr>
                                    <th>Onsdag <br />@ViewBag.wednesday</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.date.Equals(ViewBag.wednesday))
                                    {
                                        <tr id="dateCell">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee.firstname) @Html.DisplayFor(modelItem => item.Employee.firstname)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.initials)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.Position.name)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.start_time)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.end_time)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column" id="thursday">
                    <div class="table-responsive">
                        <table class="table" id="dayTable">
                            <thead>
                                <tr>
                                    <th>Torsdag <br />@ViewBag.thursday</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.date.Equals(ViewBag.thursday))
                                    {
                                        <tr id="dateCell">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee.firstname) @Html.DisplayFor(modelItem => item.Employee.firstname)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.initials)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.Position.name)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.start_time)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.end_time)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column" id="friday">
                    <div class="table-responsive">
                        <table class="table" id="dayTable">
                            <thead>
                                <tr>
                                    <th>Fridag <br />@ViewBag.friday</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.date.Equals(ViewBag.friday))
                                    {
                                        <tr id="dateCell">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee.firstname) @Html.DisplayFor(modelItem => item.Employee.firstname)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.initials)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.Position.name)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.start_time)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.end_time)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column" id="saturday">
                    <div class="table-responsive">
                        <table class="table" id="dayTable">
                            <thead>
                                <tr>
                                    <th>Lørdag <br />@ViewBag.saturday</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.date.Equals(ViewBag.saturday))
                                    {
                                        <tr id="dateCell">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee.firstname) @Html.DisplayFor(modelItem => item.Employee.firstname)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.initials)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.Position.name)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.start_time)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.end_time)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column" id="sunday">
                    <div class="table-responsive">
                        <table class="table" id="dayTable">
                            <thead>
                                <tr>
                                    <th>Søndag <br />@ViewBag.sunday</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.date.Equals(ViewBag.sunday))
                                    {
                                        <tr id="dateCell">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee.firstname) @Html.DisplayFor(modelItem => item.Employee.firstname)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.initials)<br />
                                                @Html.DisplayFor(modelItem => item.Employee.Position.name)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.start_time)<br />
                                                @Html.DisplayFor(modelItem => item.Shift.end_time)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>