@model IEnumerable<_5thSemesterProject.Models.Schedule>

<!DOCTYPE html>
@{
    ViewBag.Title = "Kalender måned";
}


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/CSS/Calendar.css">
</head>
<body>
    <div class="card text-center d-flex d-sm-flex justify-content-center justify-content-sm-center" style="background-color: #ffffff;">
        <div class="card-header" style="background-color: #ffffff;">
            <ul class="nav nav-tabs card-header-tabs text-center" style="margin: 0px -4px -12px;">
                <li class="nav-item" id="month" style="color: #059ee8;font-size: 20px;background-color: #ffffff;padding:20px">@Html.ActionLink("Måned", "CalendarMonth")</li>
                <li class="nav-item" id="week" style="color: #059ee8;font-size: 20px;background-color: #ffffff;padding:20px">@Html.ActionLink("Uge", "CalendarWeek")</li>
                <li class="nav-item" id="day" style="color: #059ee8;font-size: 20px;background-color: #ffffff;padding:20px">@Html.ActionLink("Dag", "CalendarDay")</li>
            </ul>
        </div>
    </div>
    <div class="card" style="background-color: #ffffff;">
        <div class="card-header text-center" style="background-color: #ffffff;">
            <div class="btn-toolbar" style="padding: 0;margin: 0;">
                <div class="btn-group btn-group-sm" role="group" style="padding: 0;margin: 0;height: 36px;font-size: 12px;">
                    @using (Html.BeginForm("CalendarMonth", "Schedules", new { monthId = ViewBag.monthId - 1 }))
                    {
                        <button class="btn btn-primary border rounded" type="submit" id="prevMonth">Forrige måned</button>
                    }
                    @using (Html.BeginForm("CalendarMonth", "Schedules", new { monthId = ViewBag.monthId - ViewBag.monthId }))
                    {
                        <button class="btn btn-primary border rounded" type="submit" id="currentMonth" style="margin: 0px 10px 0px 10px;">Denne måned</button>
                    }
                    @using (Html.BeginForm("CalendarMonth", "Schedules", new { monthId = ViewBag.monthId + 1 }))
                    {
                        <button class="btn btn-primary border rounded" id="nxtMonth" type="submit" ;> Næste måned</button>
                        <button class="btn btn-secondary border rounded" type="button" disabled="disabled" id="showingMonth" style="margin: 0px 0px 0px 10px;">@TempData["showingMonth"]</button>
                    }
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" id="monthTable">
                <thead>
                    <tr>
                        <th>Uge</th>
                        <th>Man</th>
                        <th>Tirs</th>
                        <th>Ons</th>
                        <th>Tors</th>
                        <th>Fre</th>
                        <th>Lør</th>
                        <th>Søn</th>
                    </tr>
                </thead>
				<tbody>
					<tr>
						<td>1</td>
						@for (int i = 1; i <= 7; i++)
						{
							if (i >= ViewBag.startDate)
							{
								int date = i - @ViewBag.startDate + 1;
								
                        <td>

                            @using (Html.BeginForm("CalendarDay", "Schedules", new { dayId = date - @ViewBag.currentDate }))
                            {

                                if (ViewBag.workingDates != null)
                                {
                                    int count = 0;
                                    foreach (var item in ViewBag.workingDates)
                                    {
                                        string dateItem = item;
                                        if (dateItem.Substring(0, 2) == date.ToString() || dateItem.Substring(0, 2) == "0" + date.ToString())
                                        {
                                            @*foreach (var d in Model)
                                            {
                                                if (d.Shift.name.Contains("Aften") && d.date.Equals(dateItem))
                                                {
                                                    <button class="btn btn-primary border rounded" type="submit" style="background-color:blue">@date.</button>
                                                    break;
                                                }
                                                else
                                                {
                                                    <button class="btn btn-primary border rounded" type="submit" style="background-color:deeppink">@date.</button>
                                                    break;
                                                }
                                            }*@
                                            <button class="btn btn-primary border rounded" type="submit" style="background-color:green">@date.</button>
                                            count++;
                                            break;
                                        }
                                    }
                                    if (count == 0)
                                    {
                                        <button class="btn btn-primary border rounded" type="submit" style="background-color:grey">@date.</button>
                                    }
                                    else
                                    {
                                        count = 1;
                                    }

                                }
                            }

                        </td>

							}
							else
							{
								<td>////</td>
							}

						}
					</tr>
					<tr>
						<td>2</td>
						@for (int i = 8 - @ViewBag.Startdate + 1; i <= 14 - @ViewBag.Startdate + 1; i++)
						{
							<td>
								@using (Html.BeginForm("CalendarDay", "Schedules", new { dayId = i - @ViewBag.currentDate }))
								{
									if (ViewBag.workingDates != null)
									{
										int count = 0;
										foreach (var item in ViewBag.workingDates)
										{

											string dateItem = item;
											if (dateItem.Substring(0, 2) == i.ToString() || dateItem.Substring(0, 2) == "0" + i.ToString())
											{
												<button class="btn btn-primary border rounded" type="submit" style="background-color:green">@i.</button>
												count++;
												break;
											}

										}
										if (count == 0)
										{
											<button class="btn btn-primary border rounded" type="submit" style="background-color:grey">@i.</button>
										}
										else
										{
											count = 1;
										}

									}
									else
									{
										<button class="btn btn-primary border rounded" type="submit" style="background-color:grey">@i.</button>

									}
								}
							</td>
						}
					</tr>
					<tr>
						<td>3</td>
						@for (int i = 15 - @ViewBag.Startdate + 1; i <= 21 - @ViewBag.Startdate + 1; i++)
						{
                        <td>
                            @using (Html.BeginForm("CalendarDay", "Schedules", new { dayId = i - @ViewBag.currentDate }))
                            {
                                if (ViewBag.workingDates != null)
                                {
                                    int count = 0;
                                    foreach (var item in ViewBag.workingDates)
                                    {

                                        string dateItem = item;
                                        if (dateItem.Substring(0, 2) == i.ToString() || dateItem.Substring(0, 2) == "0" + i.ToString())
                                        {
                                            @*foreach (var d in Model)
                                            {
                                                if (d.Shift.name.Contains("Aften") && d.date.Equals(dateItem))
                                                {
                                                    <button class="btn btn-primary border rounded" type="submit" style="background-color:blue">@i.</button>
                                                    break;
                                                }
                                                else
                                                {
                                                    <button class="btn btn-primary border rounded" type="submit" style="background-color:deeppink">@i.</button>
                                                    break;
                                                }
                                            }*@
                                            <button class="btn btn-primary border rounded" type="submit" style="background-color:green">@i.</button>
                                            count++;
                                            break;
                                        }

                                    }
                                    if (count == 0)
                                    {
                                        <button class="btn btn-primary border rounded" type="submit" style="background-color:grey">@i.</button>
                                    }
                                    else
                                    {
                                        count = 1;
                                    }

                                }
                            }
                        </td>
						}
					</tr>
					<tr>
						<td>4</td>
						@for (int i = 22 - @ViewBag.Startdate + 1; i <= 28 - @ViewBag.Startdate + 1; i++)
						{
							<td>
								@using (Html.BeginForm("CalendarDay", "Schedules", new { dayId = i - @ViewBag.currentDate }))
								{
									if (ViewBag.workingDates != null)
									{
										int count = 0;
										foreach (var item in ViewBag.workingDates)
										{

											string dateItem = item;
											if (dateItem.Substring(0, 2) == i.ToString() || dateItem.Substring(0, 2) == "0" + i.ToString())
											{
												<button class="btn btn-primary border rounded" type="submit" style="background-color:green">@i.</button>
												count++;
												break;
											}

										}
										if (count == 0)
										{
											<button class="btn btn-primary border rounded" type="submit" style="background-color:grey">@i.</button>
										}
										else
										{
											count = 1;
										}

									}
								}
							</td>
						}
					</tr>
					<tr>
						<td>5</td>
						@for (int i = 29 - @ViewBag.Startdate + 1; i <= 35 - @ViewBag.Startdate + 1; i++)
						{
							if (@ViewBag.numbOfDaysInMonth < i)
							{
								break;
							}
							else
							{
								<td>
									@using (Html.BeginForm("CalendarDay", "Schedules", new { dayId = i - @ViewBag.currentDate }))
									{
										if (ViewBag.workingDates != null)
										{
											int count = 0;
											foreach (var item in ViewBag.workingDates)
											{

												string dateItem = item;
												if (dateItem.Substring(0, 2) == i.ToString() || dateItem.Substring(0, 2) == "0" + i.ToString())
												{
													<button class="btn btn-primary border rounded" type="submit" style="background-color:green">@i.</button>
													count++;
													break;
												}

											}
											if (count == 0)
											{
												<button class="btn btn-primary border rounded" type="submit" style="background-color:grey">@i.</button>
											}
											else
											{
												count = 1;
											}

										}
									}
								</td>
							}

						}
					</tr>
					<tr>
						<td>6</td>
					@for (int i = 36 - @ViewBag.Startdate + 1; i <= 42 - @ViewBag.Startdate + 1; i++)
					{
						if (ViewBag.numbOfDaysInMonth < i)
						{
							break;
						}
						else
						{
							<td>
								@using (Html.BeginForm("CalendarDay", "Schedules", new { dayId = i - @ViewBag.currentDate }))
								{
									if (ViewBag.workingDates != null)
									{
										int count = 0;
										foreach (var item in ViewBag.workingDates)
										{

											string dateItem = item;
											if (dateItem.Substring(0, 2) == i.ToString() || dateItem.Substring(0, 2) == "0" + i.ToString())
											{
												<button class="btn btn-primary border rounded" type="submit" style="background-color:green">@i.</button>
												count++;
												break;
											}

										}
										if (count == 0)
										{
											<button class="btn btn-primary border rounded" type="submit" style="background-color:grey">@i.</button>
										}
										else
										{
											count = 1;
										}

									}
								}
							</td>
						}

					}
					</tr>

                 
					
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>*@
    <!--<script type="text/javascript" src="js/script.js"></script>-->
</body>

</html>


