@model IEnumerable<_5thSemesterProject.Models.Schedule>
<!DOCTYPE html>
<html>

<head>
    @{
        ViewBag.Title = "Kalender dag";
        ViewBag.Day = 0;
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Kalender</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/CSS/Calendar.css" />
</head>

<body>
    <div class="card text-center d-flex d-sm-flex justify-content-center justify-content-sm-center" style="background-color: #ffffff;">
        <div class="card-header" style="background-color: #ffffff;">
            <ul class="nav nav-tabs card-header-tabs text-center" style="margin: 0px -4px -12px;">
                <li class="nav-item"><a class="nav-link active" id="month" style="color: #059ee8;background-color: #ffffff;">@Html.ActionLink("Måned", "CalendarMonth")</a></li>
                <li class="nav-item"><a class="nav-link active" id="week" style="color: #059ee8;background-color: #ffffff;">@Html.ActionLink("Uge", "CalendarWeek")</a></li>
                <li class="nav-item"><a class="nav-link active" id="day">@Html.ActionLink("Dag", "CalendarDay")</a></li>
            </ul>
        </div>
    </div>
    <div class="card" style="background-color: #ffffff;">
        <div class="card-header text-center" style="background-color: #ffffff;">
            <div class="btn-toolbar" style="padding: 0;margin: 0;">
                <div class="btn-group btn-group-sm" role="group" style="padding: 0;margin: 0;height: 36px;font-size: 12px;">
                        <button class="btn btn-primary border rounded" type="submit" id="prevDay">Forrige dag</button>
                        <button class="btn btn-primary border rounded" type="submit" id="currentDay" style="margin: 0px 10px 0px 10px;">I dag</button>
                        <button class="btn btn-primary border rounded" type="submit" id="nextDay">Næste dag</button>
                        <button class="btn btn-secondary border rounded" type="button" disabled="disabled" id="showingDay" name="date" style="margin: 0px 0px 0px 10px;">@TempData["showingDate"]</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" id="dayTable">
                <thead>
                    <tr>
                        <th>Dato</th>
                        <th>Navn</th>
                        <th>Initialer</th>
                        <th>Stilling</th>
                        <th>Start tidspunkt</th>
                        <th>Slut tidspunkt</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="dateCell">
                            <td>
                                @Html.DisplayFor(modelItem => item.date.Day)-@Html.DisplayFor(modelItem => item.date.Month)-@Html.DisplayFor(modelItem => item.date.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.firstname) @Html.DisplayFor(modelItem => item.Employee.lastname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.initials)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.Position.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Shift.start_time)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Shift.end_time)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    @*<script type="text/javascript" src="~/Content/Scripts/CalendarScript.js"></script>*@
</body>
</html>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $("#prevDay").click(function () {
            $.getJSON('/Schedules/ScheduleList/' + $('#showingDay').val(), function (data) { // takes the value of showingDay
                console.log(data)
            });
        });

        $("#nextDay").click(function () {
            $.getJSON('/Schedules/ScheduleList/' + $('#showingDay').val(), function (data) { // takes the value of showingDay
                console.log(data)
            });
        });

            $("#today").click(function () {
                $("#showingDay").val('@DateTime.Now.ToString("dd/MM/yyyy")');
                $.getJSON('/Schedules/ScheduleList/' + $('#showingDay').val(), function (data) { // takes the value of showingDay
                    console.log(data)
                });
            });
    });
    </script>
}   