@model _5thSemesterProject.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.cpr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.cpr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shift.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.schedule_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
