@model IEnumerable<_5thSemesterProject.Models.Schedule>

@{
    ViewBag.Title = "Vagter";
}

<br />
<h2>Alle vagter</h2>
@if (Session["ADMINOBJ"] != null)
{
    <p>
        @Html.ActionLink("Opret ny vagt (Admin)", "Create") / @Html.ActionLink("Opret ny vagtplan (Admin)", "GenerateSchedule")

    </p>
}
<table class="table">
    <tr>
        <th>
            Dato
        </th>
        <th>
            Navn
        </th>
        <th>
            Initialer
        </th>
        <th>
            Vagttype
        </th>
        <th>
            Vagt start
        </th>
        <th>
            Vagt slut
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.firstname) @Html.DisplayFor(modelItem => item.Employee.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.initials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift.start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift.end_time)
        </td>
        @if (Session["ADMINOBJ"] != null)
        {
            <td>
                @Html.ActionLink("Rediger", "Edit", new { id = item.schedule_id }) |
                @Html.ActionLink("Slet", "Delete", new { id = item.schedule_id })
            </td>
        }
        </tr>
    }

</table>
