@model IEnumerable<_5thSemesterProject.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Opret ny vagt", "Create") / @Html.ActionLink("Opret ny vagtplan", "GenerateSchedule")

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.initials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.start_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.end_time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.initials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift.start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shift.end_time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.schedule_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.schedule_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.schedule_id })
        </td>
    </tr>
}

</table>
