<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/font-awesome-4.7.0/css/font-awesome.css">

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Hjem", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Ændre Kodeord", "Edit", "ChangePassword", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Ansatte", "Index", "Employees", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Kalender", "CalendarMonth", "Schedules", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Beskeder", "Index", "Message", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Logs", "Index", "Log", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Se vagtplan", "Index", "Schedules", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Log ud", "Logout", "Login", null, new { @class = "nav-link" })</li>
                    <li class="fa fa-bell" aria-hidden="true" style="color: white; font-size: 30px" ></li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>