@model _5thSemesterProject.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("CPR")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpr)
        </dd>

        <dt>
            @Html.DisplayName("Fornavn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayName("Efternavn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayName("Initialer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.initials)
        </dd>

        <dt>
            @Html.DisplayName("Stilling")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ændre", "Edit", new { id = Model.employee_id }) |
    @Html.ActionLink("Tilbage til listen", "Index")
</p>
