@model IEnumerable<_5thSemesterProject.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Opret ny", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Fornavn")
        </th>
        <th>
            @Html.DisplayName("Efternavn")
        </th>
        <th>
            @Html.DisplayName("Initialer")
        </th>
        <th>
            @Html.DisplayName("Stilling")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.initials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.name)
        </td>
        <td>
            @Html.ActionLink("Ændre", "Edit", new { id=item.employee_id }) |
            @Html.ActionLink("Detajler", "Details", new { id=item.employee_id }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.employee_id })
        </td>
    </tr>
}

</table>
